$commonFontColor:#262A30;
$commonBackColor:#f7f8f9;
$commonTitleColor:#959BA3;


.clearFix {
  zoom: 1;
}

.clearFix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
