@import 's5-c/lib/index';
@import 'slcss/scss/index';
@import 'slcss/scss/reset/index';

html, body {
  width: 100%;
  height: 100%;
}

#root {
  .iconfont {
    font-size: 50px;
    color: #30343A;
  }
}
